.process-results {
    width: 1000px;
    margin-top: 100px;
    padding: 20px;
    border-radius: 8px;
    font-family: Arial, sans-serif;
    font-size: 14px; /* 将字体调小 */
    text-align: left;
    background-color: #f0f6fb
}

.process-results h3 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-size: 18px; /* 调整标题字体大小 */
}

.process-results h4 {
    margin-top: 20px;
    color: #555;
    border-bottom: 2px solid #eee;
    padding-bottom: 5px;
    font-size: 24px; /* 调整小标题字体大小 */
}

.results-list-wrapper {
    background-color: #ffffff; /* 设置 ul 包裹的 div 的背景色为白色 */
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.process-results ul {
    list-style-type: none;
    padding: 0;
}

.process-results li {
    background-color: #fff;
    margin: 5px 0;
    padding: 10px;
    font-size: 14px; /* 将列表项字体调小 */
    border-bottom: 1px solid #eff6fb; /* 只显示下边框 */
}

.process-results li:hover {
    background-color: #f1f1f1;
}

.process-results p {
    text-align: center;
    color: #777;
    font-size: 14px; /* 调整无结果文本字体大小 */
}

.button-group {
    margin-bottom: 10px;
}

.button-group button {
    background-color: #007bff; /* 按钮背景颜色 */
    color: white; /* 按钮文字颜色 */
    border: none; /* 移除边框 */
    padding: 10px 20px; /* 按钮内边距 */
    margin-right: 10px; /* 按钮间距 */
    border-radius: 5px; /* 按钮圆角 */
    font-size: 16px; /* 按钮字体大小 */
    font-weight: bold; /* 按钮字体粗细 */
    cursor: pointer; /* 鼠标悬停样式 */
    transition: background-color 0.3s ease; /* 过渡效果 */
    align-items: center; /* 垂直居中对齐 */
}

.button-group button:hover {
    background-color: #0056b3; /* 悬停时按钮背景颜色 */
}


.logo {
    height: 40px; /* 缩小 logo 图片的高度 */
    width: auto; /* 保持图片宽高比 */
    margin-left: 550px; /* 设置左边距 */
    position: relative; /* 设置相对定位 */
    top: 16px; /* 调整 logo 图片的顶部位置 */
}

.show-log {
    margin-top: 50px;
}