html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f0f6fb; /* 设置整个页面的背景色 */
}

.App {
  text-align: center;
  font-family: Arial, sans-serif;
  background-size: cover; /* 确保背景图覆盖整个页面 */
  background-position: center; /* 确保背景图居中 */
  background-repeat: no-repeat; /* 确保背景图不重复 */
  min-height: 100vh; /* 确保背景图至少覆盖视口高度 */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10px; /* 增加顶部内边距以向上移动内容 */
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  min-width: 500px;
}

/* 其他样式保持不变 */

.App-logo {
  height: 100px; /* 缩小 logo 图片的高度 */
  width: auto; /* 保持图片宽高比 */
  margin-top: -200px;
  margin-bottom: 20px; /* 保证 logo 图片和 FileUpload 组件之间有一些间隔 */
}

h1 {
  font-size: 24px;
  margin: 0 0 400px; /* 移动标题向上，减少底部内边距 */
}