html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f0f6fb; /* 设置整个页面的背景色 */
}

.App {
  text-align: center;
  font-family: Arial, sans-serif;
  background-size: cover; /* 确保背景图覆盖整个页面 */
  background-position: center; /* 确保背景图居中 */
  background-repeat: no-repeat; /* 确保背景图不重复 */
  min-height: 100vh; /* 确保背景图至少覆盖视口高度 */
  display: flex;
  flex-direction: column;
  align-items: center;
  /*justify-content: center;*/
  padding-top: 10px; /* 增加顶部内边距以向上移动内容 */
}